html, body{
    display: flex;
    margin: 0;
    flex: 1;
    height: 100%;
    width: 100%;
}
.main{
    background-color: rgb(109, 119, 109);
}
.picture{
    display: flex;
    background-image: url("sebastian-unrau.jpg");
    max-width: 40vw;
    align-items: center;
    flex-shrink: 2;
}
#logo{
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    font-size: 5rem;
    padding-right: 1vh;

}
#logo img{
    width: 30vw;
    object-fit: contain;
}
.about{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    max-height: 30vh;
    font-size: 2rem;
    padding: 2vw;
}
form{
padding: 1vh;
    display: flex;
    flex-wrap: wrap;
    background-color: teal;
    min-height: 30vh;

}
form input{
    height: 1.2rem;
}
form > *, form >*>*{
    display: flex;
    flex-grow: 1;
}